<table class="bordered centered highlight responsive-table">
  <thead>
    <tr class="app-table-sort-actions">
      <th (click)="sortProjectsBy('name')">Name</th>
      <th (click)="sortProjectsBy('creatorHandle')">Created By</th>
      <th (click)="sortProjectsBy('createdAt')">Created At (dd.mm.yyyy)</th>
    </tr>
  </thead>
  <tbody *ngIf="projects">
    <tr *ngFor="let project of projects" (click)="onProjectSelected(project)" class="app-table-selectable-row">
      <td>{{ project.name }}</td>
      <td>{{ project.creatorHandle }}</td>
      <td>{{ project.createdAt.getDate() }}.{{ project.createdAt.getMonth() + 1 }}.{{ project.createdAt.getFullYear() }}</td>
    </tr>
  </tbody>
</table>