<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <div class="row">
        <div class="col s12 section">
          <a *ngIf="user && user.userGroup !== 'participant'"
            (click)="onNavigateToProjectCreation()"
            class="btn-flat white black-text waves-effect center-align app-link-btn right"
          >
            <i class="material-icons left">add</i>Create A Project
          </a>
        </div>
      </div>
      <div class="divider"></div>
      <div *ngIf="user && user.userGroup === 'participant'">
        <h5>Projects</h5>
        <p class="flow-text">
          This page contains all projects created within your
          organization's instance of Project Management App.
        </p>
      </div>
      <div *ngIf="user && user.userGroup !== 'participant'">
        <h5>All Projects</h5>
        <p class="flow-text">
          Create a new project by clicking on the link above.
        </p>
        <p *ngIf="!projectsExist && !isLoadingProjects" class="flow-text">
          Projects would be shown below but no projects exist.
        </p>
        <p *ngIf="projectsExist && !isLoadingProjects" class="flow-text">
          Click on a project row to view project details and to add project 
          tasks.
        </p>
      </div>
      <div *ngIf="!isLoadingProjects && projectsExist" class="row">
        <div class="col s12">
          <a (click)="getProjects()" class="btn-flat white-text blue waves-effect right"><i class="material-icons left">refresh</i> Refresh</a>
        </div>
      </div>
      <div class="row">
        <div class="col s6 offset-s5">
          <div *ngIf="isLoadingProjects" class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-projects-table *ngIf="!isLoadingProjects && projectsExist" [projects]="projects" (projectSelected)="onProjectSelected($event)"></app-projects-table>
    </div>
  </div>
</div>