<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <div class="row">
        <div class="col s12 section">
          <a
            routerLink="../"
            class="btn-flat white black-text waves-effect center-align app-link-btn"
          >Back to User Listing</a>
        </div>
      </div>
      <div class="divider"></div>

      <div *ngIf="!user" class="row section">
        <div class="col s6 offset-s5">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="user">
        <div class="row">
          <h5 class="col s12">User Details</h5>
        </div>
        <div class="row">
          <label class="col s12" for="createdBy">Email Address</label>
          <div class="input-field col s12">
            <input id="createdBy" readonly type="text" value="{{ user.email }}">
          </div>
          <label class="col s12" for="userGroup">User Group</label>
          <div class="input-field col s12">
            <input id="userGroup" readonly type="text" value="{{ user.userGroup }}">
          </div>
          <div *ngIf="user.creatorHandle">
            <label class="col s12" for="createdBy">Created by</label>
            <div class="input-field col s12">
              <input id="createdBy" readonly type="text" value="{{ user.creatorHandle }}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>