<div *ngIf="authService.user | async; then userAuthenticated; else userNotAuthenticated"></div>

<ng-template #userAuthenticated>
  <footer class="page-footer blue lighten-1">
    <div class="container">
      <div class="row">
        <div class="col s12 l6">
          <h6>Project Management App (PMA)</h6>
          <div class="section">
              <h6>Important Notice:</h6>
              <p>
                This web application is only a proof of concept 
                prototype.
              </p>
          </div>
        </div>
        <div class="col s12 l4 offset-l2">
          <ul>
            <li routerLinkActive="active"><a routerLink="/dashboard" class="app-link white-text">Dashboard</a></li>
            <li routerLinkActive="active"><a routerLink="/home" class="app-link white-text">Home</a></li>
            <li><a (click)="authService.signOut()" class="app-link white-text">Sign Out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        &copy; 2018 Samuli Siitonen 
      </div>
    </div>
  </footer>
</ng-template>

<ng-template #userNotAuthenticated>
  <footer class="page-footer blue lighten-1">
    <div class="container">
      <div class="row">
        <div class="col s12 l6">
          <h6>Project Management App (PMA)</h6>
          <div class="section">
              <h6>Important Notice:</h6>
              <p>
                This web application is only a proof of concept 
                prototype.
              </p>
          </div>
        </div>
        <div class="col s12 l4 offset-l2">
          <ul>
            <li routerLinkActive="active"><a routerLink="/home" class="app-link white-text">Home</a></li>
            <li routerLinkActive="active"><a routerLink="/sign-up" class="app-link white-text">Test It Out</a></li>
            <li routerLinkActive="active"><a routerLink="/sign-in" class="app-link white-text">Sign In</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        &copy; 2018 Samuli Siitonen 
      </div>
    </div>
  </footer>
</ng-template>

