<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card-panel">
        <h5>Sign In</h5>
        <p>
          This sign in page is intended for all users of Project Management App 
          (PMA).
        </p>
        <p>
          Please fill in your credentials below.
        </p>
        <form (ngSubmit)="onSignIn(signInForm)" #signInForm="ngForm">
          <div class="row">
            <div class="input-field col s12">
              <label for="email">Email Address</label>
              <input ngModel #email="ngModel" id="email" name="email" type="email" required email>
            </div>
            <div *ngIf="email.errors && email.touched" class="col s12">
                <blockquote class="red-text">
                  Email address must be in valid format.
                </blockquote>
              </div>
            <div class="input-field col s12">
              <label for="password">Password</label>
              <input ngModel id="password" name="password" type="password" required minlength="1">
            </div>
          </div>
          <div class="row">
            <div class="col s6 offset-s3 m7 offset-m3 l8 offset-l4">
              <button
                [disabled]="!signInForm.valid"
                type="submit"
                class="btn waves-effect blue"
              >Sign In</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>