<div class="row">
  <div class="div col s12 m5">
    <div class="card-panel">
      <h5>Create User Profiles for Participants</h5>
      <p>
        This sign up page is intended for the creation of new users that can 
        use your organization's instance of Product Management App. You can 
        limit the access rights of these users by selecting the appropriate
        user group during user creation.
      </p>
      <div class="section">
        <div class="row">
          <div class="col s12">
            <span class="new badge orange lighten-1 left" data-badge-caption="">
              Important notice:
            </span>
            &nbsp;
          </div>
          <div class="col s12">
            <span>
              Normally users would be invited through email invites to use the private 
              project management instance.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m7">
    <div class="card-panel">
      <div class="row">
        <div class="col s12 section">
          <a
            routerLink="../"
            class="btn-flat white black-text waves-effect center-align app-link-btn"
          >Back to Users Listing</a>
        </div>
      </div>
      <div class="divider"></div>
      <h5>User Creation</h5>
      <form materialize (ngSubmit)="onCreate()" [formGroup]="userForm" novalidate>
        <div formGroupName="userEmail" class="row">
          <div class="input-field col s12">
            <label for="email">Email Address</label>
            <input
              formControlName="email"
              data-error=""
              name="email" id="email"
              type="email"
              [ngClass]="{
                'valid': shouldShowControlIsValid('userEmail.email'),
                'invalid': shouldShowValidationError('userEmail.email')
              }"
            >
          </div>
          <div *ngIf="shouldShowValidationError('userEmail.email')" class="col s12">
            <blockquote class="red-text">
              Email address must be in valid format.
            </blockquote>
          </div>
          <div class="input-field col s12">
            <label for="emailAgain">Email Address Again</label>
            <input
              formControlName="emailAgain"
              name="emailAgain"
              id="emailAgain"
              type="email"
              [ngClass]="{
                'valid': shouldShowControlIsValid('userEmail.emailAgain'),
                'invalid': shouldShowValidationError('userEmail.emailAgain')
              }"
            >
          </div>
          <div *ngIf="shouldShowValidationError('userEmail.emailAgain')" class="col s12">
            <blockquote class="red-text">
              Email address must be in valid format.
            </blockquote>
          </div>
          <div *ngIf="userForm.get('userEmail').hasError('valuesMatch')" class="col s12">
            <blockquote class="red-text">
              Email addresses do not match.
            </blockquote>
          </div>
        </div>
        <div formGroupName="userPassword" class="row">
          <div class="input-field col s12">
            <label for="password">Password - minimum 6 characters</label>
            <input
              formControlName="password"
              name="password"
              id="password"
              type="password"
              [ngClass]="{
                'valid': shouldShowControlIsValid('userPassword.password'),
                'invalid': shouldShowValidationError('userPassword.password')
              }"
            >
          </div>
          <div *ngIf="shouldShowValidationError('userPassword.password')" class="col s12">
            <blockquote class="red-text">
              Password must be minimum 6 characters long.
            </blockquote>
          </div>
          <div class="input-field col s12">
            <label for="passwordAgain">Password Again</label>
            <input
              formControlName="passwordAgain"
              name="passwordAgain"
              id="passwordAgain"
              type="password"
              [ngClass]="{
                'valid': shouldShowControlIsValid('userPassword.passwordAgain'),
                'invalid': shouldShowValidationError('userPassword.passwordAgain')
              }"
            >
          </div>
          <div *ngIf="shouldShowValidationError('userPassword.passwordAgain')" class="col s12">
            <blockquote class="red-text ">
              Password must be minimum 6 characters long.
            </blockquote>
          </div>
          <div *ngIf="userForm.get('userPassword').hasError('valuesMatch')" class="col s12">
            <blockquote class="red-text">
              Passwords do not match.
            </blockquote>
          </div>
        </div>
        <div class="input-field col s12">
          <select formControlName="userGroup" name="userGroup" materialize="material_select">  
            <option value="participant" selected>Participant</option>
            <option value="manager">Manager</option>
          </select>
          <label>User Group</label> 
        </div>
        <div class="row">
          <div class="col s12">
            <button
              routerLink="../"
              type="button"
              class="btn waves-effect red"
            >
              Cancel
            </button>
            <button
              [disabled]="!userForm.valid"
              type="submit"
              class="btn waves-effect blue right"
            >
              Create
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

  