<div *ngIf="authService.user | async; then userAuthenticated; else userNotAuthenticated"></div>

<ng-template #userAuthenticated>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue">
        <a routerLink="/dashboard" class="app-logo flow-text">PMA Dashboard</a>
        <a data-activates="mobile-sidenav" materialize="sideNav" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li routerLinkActive="active"><a routerLink="/dashboard" class="app-link"><i class="material-icons left">dashboard</i>Dashboard</a></li>
          <li routerLinkActive="active"><a routerLink="/home" class="app-link"><i class="material-icons left">home</i>Home</a></li>
          <li><a (click)="authService.signOut()" class="app-link"><i class="material-icons left">account_box</i>Sign Out</a></li>
        </ul>
        <ul class="side-nav" id="mobile-sidenav">
          <li routerLinkActive="active"><a routerLink="/dashboard" class="app-link"><i class="material-icons left">dashboard</i>Dashboard</a></li>
          <li routerLinkActive="active"><a routerLink="/home" class="app-link"><i class="material-icons left">home</i>Home</a></li>
          <li><a (click)="authService.signOut()" class="app-link"><i class="material-icons left">account_box</i>Sign Out</a></li>
        </ul>  
      </div>
    </nav>
  </div>
</ng-template>

<ng-template #userNotAuthenticated>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue">
        <a routerLink="/home" class="app-logo flow-text">Project Management App</a>
        <a data-activates="mobile-sidenav" materialize="sideNav" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li routerLinkActive="active"><a routerLink="/home" class="app-link"><i class="material-icons left">home</i>Home</a></li>
          <li routerLinkActive="active"><a routerLink="/sign-up" class="app-link"><i class="material-icons left">flight_takeoff</i>Test It Out</a></li>
          <li routerLinkActive="active"><a routerLink="/sign-in" class="app-link"><i class="material-icons left">account_box</i>Sign In</a></li>
        </ul>
        <ul class="side-nav" id="mobile-sidenav">
          <li routerLinkActive="active"><a routerLink="/home" class="app-link"><i class="material-icons left">home</i>Home</a></li>
          <li routerLinkActive="active"><a routerLink="/sign-up" class="app-link"><i class="material-icons left">flight_takeoff</i>Test It Out</a></li>
          <li routerLinkActive="active"><a routerLink="/sign-in" class="app-link"><i class="material-icons left">account_box</i>Sign In</a></li>
        </ul>
      </div>
    </nav>
  </div>      
</ng-template>
  