<div class="container">
  <div class="card-panel">
    <div class="row">
      <div class="col s12 section">
        <a
          routerLink="../"
          class="btn-flat white black-text waves-effect center-align app-link-btn"
        >Back to Projects Listing</a>
      </div>
    </div>
    <div class="divider"></div>
    <h5>New Project</h5>
    <form (ngSubmit)="onCreateProject(projectForm)" #projectForm="ngForm" materialize>
      <div class="row">
        <div class="col s12">

          <div class="input-field">
            <input
              ngModel
              #name="ngModel"
              required
              id="name"
              name="name"
              type="text"
              class="validate"
            >
            <label
              for="name"
              data-error="Project name is required."
            >Name</label>
          </div>

          <div class="input-field">
            <textarea
              ngModel
              #description="ngModel"
              required
              id="description"
              name="description"
              class="materialize-textarea validate"
            ></textarea>
            <label
              for="description"
              data-error="Project description is required."
            >Description</label>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col s12">

          <a routerLink="../" class="btn red waves-effect">Cancel</a>
          <button
            [disabled]="!projectForm.valid"
            type="submit"
            class="btn green waves-effect right"
          >Create</button>
          
        </div>
      </div>
    </form>
  </div>
</div>