<table class="bordered centered highlight responsive-table">
  <thead>
    <tr class="app-table-sort-actions">
      <th (click)="sortTasksBy('name')">Name</th>
      <th (click)="sortTasksBy('assignedToUserHandle')">Assigned to</th>
      <th (click)="sortTasksBy('creatorUserHandle')">Assigned by</th>
      <th (click)="sortTasksBy('createdAt')">Created At (dd.mm.yyyy)</th>
    </tr>
  </thead>
  <tbody *ngIf="tasks">
    <tr *ngFor="let task of tasks" (click)="onTaskSelected(task)" class="app-table-selectable-row">
      <td>{{ task.name }}</td>
      <td>{{ task.assignedToUserHandle }}</td>
      <td>{{ task.creatorUserHandle }}</td>
      <td>{{ task.createdAt.getDate() }}.{{ task.createdAt.getMonth() + 1 }}.{{ task.createdAt.getFullYear() }}</td>
    </tr>
  </tbody>
</table>