<table class="bordered centered highlight responsive-table">
  <thead>
    <tr class="app-table-sort-actions">
      <th (click)="sortUsersBy('email')">Email</th>
      <th (click)="sortUsersBy('userGroup')">User Group</th>
    </tr>
  </thead>
  <tbody *ngIf="users">
    <tr *ngFor="let user of users" (click)="onUserSelected(user)" class="app-table-selectable-row">
      <td>{{ user.email }}</td>
      <td>{{ user.userGroup }}</td>
    </tr>
  </tbody>
</table>