<div class="container">
  <div class="row">
    <div class="div col s12 m6">
      <div class="card-panel">
        <h5>Start Using Project Management App</h5>
        <p>
          This sign up page is intended for the user that shall own the 
          organization's instance of Project Management App (PMA). This
          type of user can invite other users with varying roles into 
          the aforementioned instance.
        </p>
        <div class="section">
          <div class="row">
            <div class="col s12">
              <span class="new badge orange lighten-1 left" data-badge-caption="">
                Important notice:
              </span>
              &nbsp;
            </div>
            <div class="col s12">
              <span>
                Normally users would be invited through email invites to use the private 
                project management instance, but in this prototype version the owner 
                user creates these accounts directly.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card-panel">
        <h5>Sign Up Here</h5>
        <form (ngSubmit)="onSignUp()" [formGroup]="signUpForm" novalidate>
          <div formGroupName="userEmail" class="row">
            <div class="input-field col s12">
              <label for="email">Email Address</label>
              <input
                formControlName="email"
                data-error=""
                name="email"
                id="email"
                type="email"
                [ngClass]="{
                  'valid': shouldShowControlIsValid('userEmail.email'),
                  'invalid': shouldShowValidationError('userEmail.email')
                }"
              >
            </div>
            <div *ngIf="shouldShowValidationError('userEmail.email')" class="col s12">
              <blockquote class="red-text">
                Email address must be in valid format.
              </blockquote>
            </div>
            <div class="input-field col s12">
              <label for="emailAgain">Email Address Again</label>
              <input
                formControlName="emailAgain"
                name="emailAgain"
                id="emailAgain"
                type="email"
                [ngClass]="{
                  'valid': shouldShowControlIsValid('userEmail.emailAgain'),
                  'invalid': shouldShowValidationError('userEmail.emailAgain')
                }"
              >
            </div>
            <div *ngIf="shouldShowValidationError('userEmail.emailAgain')" class="col s12">
              <blockquote class="red-text">
                Email address must be in valid format.
              </blockquote>
            </div>
            <div *ngIf="signUpForm.get('userEmail').hasError('valuesMatch')" class="col s12">
              <blockquote class="red-text">
                Email addresses do not match.
              </blockquote>
            </div>
          </div>
          <div formGroupName="userPassword" class="row">
            <div class="input-field col s12">
              <label for="password">Password - minimum 6 characters</label>
              <input
                formControlName="password"
                name="password"
                id="password"
                type="password"
                [ngClass]="{
                  'valid': shouldShowControlIsValid('userPassword.password'),
                  'invalid': shouldShowValidationError('userPassword.password')
                }"
              >
            </div>
            <div *ngIf="shouldShowValidationError('userPassword.password')" class="col s12">
              <blockquote class="red-text">
                Password must be minimum 6 characters long.
              </blockquote>
            </div>
            <div class="input-field col s12">
              <label for="passwordAgain">Password Again</label>
              <input
                formControlName="passwordAgain"
                name="passwordAgain"
                id="passwordAgain"
                type="password"
                [ngClass]="{
                  'valid': shouldShowControlIsValid('userPassword.passwordAgain'),
                  'invalid': shouldShowValidationError('userPassword.passwordAgain')
                }"
              >
            </div>
            <div *ngIf="shouldShowValidationError('userPassword.passwordAgain')" class="col s12">
              <blockquote class="red-text ">
                Password must be minimum 6 characters long.
              </blockquote>
            </div>
            <div *ngIf="signUpForm.get('userPassword').hasError('valuesMatch')" class="col s12">
              <blockquote class="red-text">
                Passwords do not match.
              </blockquote>
            </div>
          </div>
          <div class="row">
            <div class="col s6 offset-s3 m7 offset-m3 l8 offset-l4">
              <button
                [disabled]="!signUpForm.valid"
                type="submit"
                class="btn waves-effect blue"
              >
                Create User
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
