<div class="row">
    <div class="col s12 app-tabs-full-width z-depth-2">
        <ul class="tabs app-tabs blue lighten-1">
            <li class="tab"><a [routerLink]="[{ outlets: { dashboard: ['overview'] } }]" class="white-text" routerLinkActive="app-tab-active">Overview</a></li>
            <li class="tab"><a [routerLink]="[{ outlets: { dashboard: ['projects'] } }]" class="white-text" routerLinkActive="app-tab-active">Projects &amp; Tasks</a></li>
            <li *ngIf="user && user.userGroup !== 'participant'" class="tab"><a [routerLink]="[{ outlets: { dashboard: ['users'] } }]" class="white-text" routerLinkActive="app-tab-active">Users</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <router-outlet name="dashboard"></router-outlet>
</div>