body {
    background-color: whitesmoke;
}

main {
    min-height: 600px;
}

.app-logo {
    padding-left: 5px;
}

.app-link {
    cursor: pointer;
}

.app-link-btn:hover {
    /* border: 1px solid black; */
    /* background-color: #f5f5f5 !important; */
    border-bottom: 1px solid black;
}

.app-table-sort-actions th:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}
  
.app-table-selectable-row:hover {
    cursor: pointer;
}