<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <div class="row">
        <div class="col s12 section">
          <a
            routerLink="../"
            class="btn-flat white black-text waves-effect center-align app-link-btn"
          >
            Back to Project Details
          </a>
          <a
            *ngIf="user && user.userGroup !== 'participant'"
            routerLink="create"
            class="btn-flat white black-text waves-effect center-align app-link-btn right"
          >
            <i class="material-icons left">add</i>Create Tasks
          </a>
        </div>
      </div>
      <div class="divider"></div>
      <h5 *ngIf="projectsService.selectedProject; else noProjectName">Tasks for {{ projectsService.selectedProject.name }}</h5>
      <ng-template #noProjectName>
        <h5>Project Tasks</h5>
      </ng-template>
      <p *ngIf="tasks.length > 0 && user && user.userGroup !== 'participant'" class="flow-text">
        The table below lists all tasks within the selected project.
      </p>
      <p *ngIf="tasks.length > 0 && user && user.userGroup === 'participant'" class="flow-text">
        The table below lists all tasks assigned to you within the selected project.
      </p>
      <p *ngIf="!tasksExist" class="flow-text">
        No tasks exist for this project.
      </p>
      <div *ngIf="tasks.length > 0" class="row">
        <div class="col s12">
          <a (click)="getProjectTasks()" class="btn-flat white-text blue waves-effect right"><i class="material-icons left">refresh</i> Refresh</a>
        </div>
      </div>
      <div class="row">
        <div class="col s6 offset-s5">
          <div *ngIf="isLoadingTasks" class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-tasks-table *ngIf="!isLoadingTasks && tasksExist" [tasks]="tasks" (taskSelected)="onTaskSelected($event)"></app-tasks-table>
    </div>
  </div>
</div>