<div class="container">
  <div class="section">
    <span class="new badge orange lighten-1 left" data-badge-caption="">
      Important notice:
    </span>
    &nbsp;
    <span>
      This web application is only a proof of concept prototype.
    </span>
  </div>
  <div class="card-panel">
    <h5>What is Project Management App (PMA)?</h5>
    <p class="flow-text">
      Project Management App (PMA) is a web application for management of 
      organizational projects.
    </p>
    <a routerLink="/sign-up" class="btn-flat blue white-text waves-effect"><i class="material-icons left">flight_takeoff</i>Test It Out</a>
  </div>
  <div class="card-panel">
    <h5>How is PMA valuable for my organization?</h5>
    <p class="flow-text">
      Project management is a common task in a great number of different organizations. 
      Sometimes organizations deploy custom solutions for this
      central task which takes focus away from true value creation. Furthermore, development
      and maintenance of such solutions is a time consuming and resource intensive 
      undertaking that often requires unique skillsets. With PMA, you and your organization 
      can focus on what truly matters for your value creation and leave the complexity 
      of managing a shared platform to us.
    </p>
  </div>
  <div class="card-panel">
    <h5>What are PMA's core value creating features?</h5>
    <p class="flow-text">
      PMA offers you value by supporting core tasks associated with project 
      management: create and specify projects, manage project tasks and 
      task participants, and monitor project progress.
    </p>
  </div>
</div>