<div class="container">
  <div class="card-panel">
    <div class="row">
      <div class="col s12 section">
        <a
          routerLink="../"
          class="btn-flat white black-text waves-effect center-align app-link-btn"
        >Back to Project Tasks Listing</a>
      </div>
    </div>
    <div class="divider"></div>
    <h5>New Task</h5>
    <p class="flow-text">
      Note that the task can only be assigned to a user that belongs to the 
      *participant* user group.
    </p>
    <form (ngSubmit)="onCreateTask(taskForm)" #taskForm="ngForm" materialize>
      <div class="row">
        <div class="col s12">

          <div class="input-field">
            <input
              ngModel
              #name="ngModel"
              required
              id="name"
              name="name"
              type="text"
              class="validate"
            >
            <label
              for="name"
              data-error="Project name is required."
            >Name</label>
          </div>

          <div class="input-field">
            <textarea
              ngModel
              #description="ngModel"
              required
              id="description"
              name="description"
              class="materialize-textarea validate"
            ></textarea>
            <label
              for="description"
              data-error="Project description is required."
            >Description</label>
          </div>

        </div>
        <div *ngIf="!selectedUser" class="col s12">
          <p *ngIf="users && users.length > 0">
            You can select one user belonging the the *participant* user group.
          </p>
          <p *ngIf="users && users.length === 0" class="red-text">
            No users belonging to the *participant* user group exist and thefore this task can not be created.
          </p>
          <button (click)="onOpenUsersModal()" [disabled]="!users || users.length === 0" class="btn blue waves-effect modal-trigger">Assign to User</button>
        </div>
        <div *ngIf="selectedUser" class="col s12">
            <p>
              Assigned to: <span class="indigo-text">{{ selectedUser.email }}</span>
            </p>
            <a (click)="onOpenUsersModal()" class="btn blue waves-effect modal-trigger">Change User</a>
          </div>
      </div>
      <br>
      <div class="row">
        <div class="col s12">

          <a routerLink="../" class="btn red waves-effect">Cancel</a>
          <button
            [disabled]="!taskForm.valid || !selectedUser"
            class="btn green waves-effect right"
          >Create</button>
          
        </div>
      </div>
    </form>
    <div materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions" id="userSelectionModal" class="modal">
      <div class="modal-content">
        <h5>Assign Task to User</h5>
        <app-users-table [users]="users" (userSelected)="onSelectUser($event)"></app-users-table>
      </div>
    </div>
  </div>
</div>