<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <div class="row">
        <div class="col s12 section">
          <a
            routerLink="create"
            class="btn-flat white black-text waves-effect center-align app-link-btn right"
          >
            <i class="material-icons left">add</i>Create Users
          </a>
        </div>
      </div>
      <div class="divider"></div>
      <h5>Users</h5>
      <p class="flow-text">
          Create a new users by clicking the link above.
      </p>
      <p *ngIf="usersExist && !isLoadingUsers" class="flow-text">
          The table below lists all users within your organization's instance of Project Management App.
      </p>
      <p *ngIf="!usersExist" class="flow-text">
        No users exist.
      </p>
      <div *ngIf="!isLoadingUsers && usersExist" class="row">
        <div class="col s12">
          <a (click)="getUsers()" class="btn-flat white-text blue waves-effect right"><i class="material-icons left">refresh</i> Refresh</a>
        </div>
      </div>
      <div class="row">
        <div class="col s6 offset-s5">
          <div *ngIf="isLoadingUsers" class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-users-table *ngIf="!isLoadingUsers && usersExist" [users]="users" (userSelected)="onUserSelected($event)"></app-users-table>
    </div>
  </div>
</div>