<div *ngIf="user; then notLoading; else loading"></div>

<ng-template #notLoading>
  <div class="card-panel">
    <div class="row">
      <div class="col s12">
          <h5>Welcome, {{ user.email }} ({{ user.userGroup }})</h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p class="flow-text">
          Quickly navigate to the central features of PMA through the links below or switch to the relevant tab above.
        </p>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div *ngIf="user.userGroup === 'owner' || user.userGroup === 'manager'" class="col s12 section">
        <a routerLink="../projects/create" class="btn-flat white black-text waves-effect col s12 m4 center-align app-link-btn truncate">Create Projects</a>
        <a routerLink="../projects" class="btn-flat white black-text waves-effect col s12 m4 center-align app-link-btn truncate">Create Project Tasks</a>
        <a routerLink="../users/create" class="btn-flat white black-text waves-effect col s12 m4 center-align app-link-btn truncate">Create Users</a>
      </div>
      <div *ngIf="user.userGroup === 'participant'" class="col s12 section">
        <a routerLink="../projects" class="btn-flat white black-text waves-effect col s12 m4 center-align app-link-btn truncate">View Projects &amp; Tasks</a>
      </div>
    </div>
  </div>
  
</ng-template>

<ng-template #loading>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
</ng-template>