<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <div class="row">
        <div class="col s12 section">
          <a
            routerLink="../"
            class="btn-flat white black-text waves-effect center-align app-link-btn"
          >Back to Project Tasks Listing</a>
        </div>
      </div>
      <div class="divider"></div>

      <div *ngIf="!task" class="row section">
        <div class="col s6 offset-s5">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="task">
        <div class="row">
          <h5 class="col s12">Task Details - {{ task.name }}</h5>
        </div>
        <div class="row">
          <label class="col s12" for="createdBy">Created by</label>
          <div class="input-field col s12">
            <input id="createdBy" readonly type="text" value="{{ task.creatorUserHandle }}">
          </div>
          <label class="col s12" for="createdAt">Created at</label>
          <div class="input-field col s12">
            <input id="createdAt" readonly type="text" value="{{ task.createdAt }}">
          </div>
          <label class="col s12" for="assignedTo">Assigned to</label>
          <div class="input-field col s12">
            <input id="assignedTo" readonly type="text" value="{{ task.assignedToUserHandle }}">
          </div>
        </div>
        <div class="row">
          <label class="col s12" for="description">Description</label>
          <div class="input-field col s12">
            <textarea id="description" readonly class="materialize-textarea">{{ task.description }}</textarea>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>